@{
    /**/

    ViewBag.Title = "Индекс";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@*НЕ РАБОТАЕТ
    <form>
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="customFile">
            <label class="custom-file-label" for="customFile">Choose file</label>
        </div>
    </form>

    РАБОТАЕТ
    <form>
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="customFile2">
            <label class="custom-file-label" for="customFile2">Choose file</label>
        </div>
    </form>*@



