@using System.Web.Mvc.Html
@using System.Web.Mvc

@helper HelloWorld(WebViewPage page)
{
    @page.Html.Label("HelloWorld")
}

@helper MyHelper()
{
    <div>123</div>
    //page.Html.ActionLink("Home", "Index", "Home");
}